/* ==================================== INDEX ==================================== */

*{ /* Config para a página toda*/
	margin: 0px; /* margem externa da página zerada */
	padding: 0px; /*margem interna da página zerada */
}
body{
    width: 1349px;
}

/* Logo e Nome do Site */
.logotipo{
    margin-top: 5px;
    float: left;
    margin-left: 10px;
}
.textlogo{
    float: left;
    color:#c95979;
    margin-left: 10px;
    margin-top: 14px;
}

/* Menu Inicial */
header{
    width: 1349px;
    height: 55px;
}
.botaologar{
    width: 90px;
    height: 55px;
    float: left;
    margin-left: 350px;
}
/* Navbar */
.nvprincipal{ /* Estilo da barra de navegação */
    float: left;
    margin-top: 10px;
    height: 45px;
	font-size: 18px; /* Tamanho da fonte */
    margin-left: 130px;
    width: 500px;
}
.ulprincipal{/* Estilo da lista*/
	list-style-type: none;
} 
.bot{
    font-family: Arial, Helvetica, sans-serif;
	float: left; /* Configurar o menu para horizontal*/
	margin-left: 16px;
 /* margem interna cima/baixo 5px e dir/esq 10px*/
	color: white; /* cor das palavras do menu*/
	font-weight: bold; /* fonte em negrito */
	line-height: 2.2;
}
.ulprincipal .bot:hover{ /* config mouse sobre */
	background-color: rgba(255,255,255,0.2);
}

/* Botão Logar e outros */
.btnn{
    float: left;
    background-color:#c95979;
    color: white;
    border-color: #f18094;
    border-radius: 5px;
    padding:6px;
    width: 5rem;
    margin-left: 5px;
    margin-top: 10px;
}

/* Main */
main{
    margin-top: 10px;
    width: 1349px;
    float: left;
}

/* Letreiro */
.letreiro{
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.divletreiro{
    float: left;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px;
    border-style:dotted;
    border-color: #c95979;
    border-width: 5px;
    background-color: black;
    color: white;
    width: 700px;
    margin-left: 300px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Banner */
.destaque{
    float: left;
    align-items: center;
	width: 1100px;
	height: 300px;
    margin-top: 10px;
    margin-left: 100px;
}

/* Plataforma e Audio */
.textplataforma{
    margin-top: 10px;
    float: left;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #c95979;
    border-width: 5px;
    background-color: black;
    color: white;
    padding-bottom: 5px;
    padding: 5px;
}
.plataform{
    align-items: center;
    text-align: center;
    height: 50px;
    width: 130px;
    float: left;
    margin-left: 180px;
    margin-top: 15px;
}
audio{
    float: left;
    margin-top: 20px;
    margin-left: 450px;
    width: 400px;
    height: 40px;
}

/* Cards das plataformas */
.cardzinhos{
    float: left;
    margin-top: 10px;
    align-items: center;
    margin-left: 50px;
}
.card{
    float: left;
    text-align: center;
    margin: 20px;
    background-color: #1C1C1C;
    border-color: #f18094;
    color:white;
    border-width: 2px;
}
.card-title{
    font-size: medium;
}

/* Botao dos Cards */
.botao{
    background-color:#de3163;
    color: white;
    border-color: #f18094;
    border-radius: 5px;
    padding:8px;
    width: 5rem;
}

/* Videos */
.video{
    float: left;
    margin-top: 40px;
    margin-left: 50px;
}
.gamepgta{
    float: left;
    text-align: center;
    border-color: #f18094;
    color:white;
    border-width: 2px;
}
.gamephalo{
    float: left;
    text-align: center;
    border-color: #f18094;
    color:white;
    border-width: 2px;
    margin-left: 10px;
}
.gameppes{
    float: left;
    text-align: center;
    border-color: #f18094;
    color:white;
    border-width: 2px;
    margin-left: 10px;
}
.cardtpes{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cardtgta{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cardthalo{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Gif Mario */
aside{
	width: 300px;
	height: 290px;
	float: left;
    margin-left: 33px;
	margin-right: 29px;
    margin-top: 20px;
}
.gifmario{
    margin-left: 30px;
    margin-top: 35px;
}

/* Noticias */
article{
	width: 900px;
	height: 300px;
	float: left;
    margin-top: 20px;
}
.list-group-item{
    border-radius: 10px;
    border-color: rebeccapurple;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
}
.news{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: rebeccapurple;
}

/* Footer */
footer{
    float: left;
    margin-left: 540px;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    clear: both;
}

/* ==================================== BUSCA POR JOGOS VISITANTE ==================================== */

/* Banner */
.destaquebusca{
    align-items: center;
	width: 800px;
	height: 300px;
    margin-top: 10px;
    margin-left: 300px;
}
/* Busca */
.buscando{
    float: left;
    text-align: center;
    border-width: 5px;
    border-color: #c95979;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.botoes{
    background-color:#c95979;
    color: white;
    border-color: #f18094;
    border-radius: 5px;
    padding:8px;
    width: 5rem;
}

/* Cadastros */
.form-label{
    color: white;
    font-size: large;
    font-style: bolder;
}

/* Tabela do Banco de dados*/
table{
    background-color: white;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
}
th{
    color:#c95979;
}
.botaoalterar{
    background-color:#c95979;
    color: white;
    border-color: #f18094;
    border-radius: 5px;
    padding:8px;
    width: 5rem;
}

/* Formulário de Login */
#formlogin{
    color: white;
    margin-top: 200px;
    border-radius: 10px;
    margin-left: 150px;
}
#formEsqueceusenha{
    margin-left: 180px;
    color: white;
    margin-top: 60px;
    border-radius: 10px;
}
.textesqueci{
    margin-left: 330px;
    margin-top: 150px;
    color: white;
}

/* Logotipo Funcionário */
.logotipofun{
    float: left;
}

/* Banner */
#banner_img{
	width: 1100px;
	height: 300px;
	float: left;
}